* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "DeadlyFont"; /*a name to be used later*/
    src: url('armalite.ttf'); /*URL to font*/
}

body {
    /*
    background-image: url("/background.png");
    background-size: cover;
    */
    background-color: chocolate;
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: DeadlyFont;
}

.row {
    display: flex;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.height-100{
    height: 100%;
}

#centreColumn {
    /*background: rgba(0, 0, 0, 0.5);*/
    background: darkorange;
    max-width: 100vw;
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The buttons made out of a div with an onclick */
.divButton {
    text-align: center;
    margin-left: 2%;
    padding: 1%;
    text-decoration: none;
    border-radius: 10px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: black;
    cursor:pointer;
}

/* The effect when said buttons are being hovered over */
.divButton:hover {
    background-color: chocolate;
}

.thickOutline{
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}


#defaultNoGuessHolder{
    display:none;
}

#defaultGuessHolderRow{
    display: none;
}

.noGuessHolder{
    background-color: chocolate;
    height: 40px;
    line-height: 40px;
    outline-style: dotted;
    outline-color: black;
    outline-width: 2px;
    border-radius: 0.2em;
    text-align: center;
}


.guessHolder{
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: orange;
    outline-style: solid;
    outline-color: black;
    outline-width: 2px;
    border-radius: 0.2em;   
}

.guessHolderRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
}

.statNameHolder{
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 3px;
    /*width: 173px;*/
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 450px){
    .statNameHolder{
        font-size: 4vw;
    }
}

.guessHolderSkulls{
    display:flex;
    justify-content:left;
    gap:5px;
    width:200px;
    height:100%;
    margin-right:10px;
}

.guessSkull{
    height: 100%;

}

.guessTitle{
    text-align: center;
    text-decoration: underline;
}